<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="" href="{{ url_for('static', filename='styles/bootstrap.min.css') }}">
    <link rel="stylesheet" type="" href="{{ url_for('static', filename='styles/style.css') }}">
  </head>
  <body>
    {% include 'partials/_nav.html' %}
    <div class="container">{% block body %}{% endblock %}</div>

    <script src="{{ url_for('static', filename='scripts/jquery-3.2.1.slim.min.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/bootstrap.min.js') }}"></script>
  </body>
</html>
